<h1>Album</h1>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <%= link_to 'Edit', edit_album_path(@album) %> |
  Tracklist
</p>

<p class="border-top border-light pt-2 mt-4">
  <%= link_to 'Back', albums_path %>
</p>

